@using TSKB.Entities
@model Sube
@{
    ViewBag.Title = "AddSube";
}

<h2>AddSube</h2>


@using (Html.BeginForm())
{
    <form>
        <div class="form-group">
            <label>İSİM</label>
            @Html.TextBoxFor(x => x.isim, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">KAYDET</button>
    </form>
}


